body{
	margin:0;padding:0;
/*	background:rgba(0,0,0,0.5) url(../1.jpg) no-repeat center;
	width: 100%;
	min-width: 1440px;
	height: 900px;*/
	font-size:14px;font-family:'微软雅黑','宋体',sans-serif;color:#231F20;overflow:auto;
	overflow: hidden;
	position: relative;
}

a {color:#000;font-size:14px;}
#main{width:100%;}
#wrap{position:relative;margin:0 auto;width:1100px;height:680px;margin-top:10px;overflow: hidden;}
#bg1 {
	position:absolute;
	background:url(1.jpg) no-repeat center;
	width: 100%;
	min-height: 1080px;
	height: 100%;
	z-index: -999998;
	top: 0;
	opacity: 1;
	overflow: hidden;
}
#bg2 {
	position:absolute;
	background:url(2.jpg) no-repeat center;
	width: 100%;
	min-height: 1080px;
	height: 100%;
	z-index: -999999;
	top: 0;
	overflow: hidden;
}
#text{width:400px;height:425;pxleft:60px;top:80px;position:absolute;}
#code{display:none;font-size:16px;}
#clock-box {position:absolute;left:60px;top:550px;font-size:28px;display:none;}
#clock-box a {font-size:28px;text-decoration:none;}
#clock{margin-left:48px;}
#clock .digit {font-size:64px;}
#canvas{margin:0 auto;width:1100px;height:680px;}
#error{margin:0 auto;text-align:center;margin-top:60px;display:none;}
.hand{cursor:pointer;}
.say{margin-left:5px;}
.space{margin-right:150px;}
